[NIKON D70]
row=1
col=1

[ALT Linux]
row=0
col=0

[Система]
row=0
col=1

[Корзина]
row=1
col=0

[Домой]
row=6
col=0

[Документы]
row=5
col=0

[Автозапуск]
row=7
col=0

[Файловая система]
row=3
col=0

[Домашний каталог]
row=2
col=0

