<!DOCTYPE kpartgui>
<kpartplugin library="kview_browserplugin" name="kviewbrowser" >
 <MenuBar>
  <Menu name="tools" >
   <Text>&amp;Tools</Text>
   <Action name="previous_image" />
   <Action name="next_image" />
  </Menu>
 </MenuBar>
 <ToolBar name="extraToolBar" >
  <text>Extra Toolbar</text>
  <Action name="previous_image" />
  <Action name="next_image" />
 </ToolBar>
 <Menu name="popupmenu" >
  <Action name="previous_image" />
  <Action name="next_image" />
 </Menu>
 <ActionProperties>
  <Action shortcut="PageDown" name="next_image" />
  <Action shortcut="PageUp" name="previous_image" />
 </ActionProperties>
</kpartplugin>
