[Entry 0]
Name=Текстовый процессор
Exec=xfce4-wordprocessor
Terminal=false
StartupNotify=false
Icon=/usr/share/icons/default/32x32/mimetypes/x-office-document.png

[Entry 1]
Name=Электронные таблицы
Exec=xfce4-spreadsheet
Terminal=false
StartupNotify=false
Icon=/usr/share/icons/default/32x32/mimetypes/x-office-spreadsheet.png

